:root {
    --bodyBackgroundColor: #000000;
}

body {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    background-color: var(--bodyBackgroundColor);

    font-size: 18px;
    /* font-family: "", sans-serif; */
    font-weight: 400;
}

#containerMain {
    width: 90%;
}